<div class="jumbotron center">
	<h1>First Ruby on Rails Exposure</h1>
	<p>This pinterest clone was a lot of fun to make, and a wonderful means of becoming familiar with Ruby on Rails as well as gaining more exposere to HTML/CSS and Javascript.</p>
	<p><%= link_to "Github Repository", "https://github.com/jh2oman/pinteresting", class: "btn btn-primary btn-lg" %></p>
</div>