<div class="jumbotron">
	<h1>First Ruby on Rails Exposure</h1>
	<blockquote>
  	<p>This pinterest clone was a lot of fun to make, and was my first dive into learning some of the Ruby on Rails Framework.</p>
	<p>More recently I have used this app as an area to practice SEO.</p>
  	<footer>Jacob Waterman</footer>
	</blockquote>
	<p><%= link_to "Github Repository", "https://github.com/jh2oman/pinteresting", class: "btn btn-primary btn-lg" %></p>
</div>